.parcel {
  display: flex;
  align-items: center;
  width: 650px;
  height: 181px;
  background: linear-gradient(93.68deg, #ff9900 11.24%, #660099 156.98%);
  border-radius: 10px;
  color: #ffffff;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.04em;
    margin: auto 33px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.04em;
    width: 400px;
  }

  img {
    width: 170px;
    height: 192.11px;
    margin-bottom: -70px;
    margin-right: -60px;
  }
}
